body {
    background: white;
}

#side_nav {
    background: black;
    min-width: 250px;
    max-width: 250px;
}

.content {
    min-height: 100vh;
    width: 100%;
    margin: 20px;
}

.sidebar li a {
    color: white;
}

.card {
    margin: 20px;
}

.card img {
    height: 15rem;
}

.zona-cartas {
    margin: 15px;
    display: flex;
}

.row {
    margin: 2%;
}

.carta {
    margin: 2%;
    border: solid black;
}

.boton-mapa {
    text-align: right;
}