$primary-color: #141e30;
$secondary-color: #25395e;

body {
    background: $primary-color !important;
}

#side_nav {
    background: black;
    max-width: 250px;

    li a {
        color: white;
    }
}

.content {
    min-height: 100vh;
    width: 100%;
    margin: 20px;
}

.card {
    margin: 20px;

    img {
        height: 15rem;
    }
}

.zona-cartas {
    margin: 15px;
    display: flex;
}

.row {
    margin: 2%;
}

.carta {
    margin: 2%;
    background-color: $secondary-color;
    border: solid black;
    color: white;

    .informacion-carta {
        text-align: left;
    }

    .mostrar-comentarios{
        padding: 2%;
    }
}

.boton-mapa {
    text-align: right;
}

.comentarios {
    margin: 30px;
    text-align: left !important;

    textarea{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .barra-responsiva {
        width: 480px;
    }
}